<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Bookings</title>

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <style>
    .col-width-small {
      width: 5%;
    }

    .col-width-medium {
      width: 250px;
    }

    .col-width-large {
      width: 25%;
    }
  </style>


</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Seri Padi De Cabin</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#hero">Home<br></a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#menu">Menu</a></li>
          <li><a href="/#book-a-table">Book a Table</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><a href="/users/bookings_page" class="active">My Bookings</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- <a class="btn-getstarted" href="index.html#book-a-table">Book a Table</a> -->
      <div>
        <span class="mx-4">Welcome, <%= user.NAME %>!</span>
        <button class="btn-getstarted" id="logoutButton">Logout</button>
      </div>
    </div>
  </header>

  <main class="main">
    <section id="bookings" class="section">
      <div class="container">
        <div class="row gy-4 mb-4">
          <div class="col-12 col-lg-12">
            <h2>Manage Bookings</h2>
            <p>Welcome to the bookings management page!</p>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-12 col-lg-2">
            <nav class="navmenu-custom">
              <ul class="nav flex-column align-items-start">
                <li class="nav-item">
                  <a class="nav-link" href="#booking_list">My Bookings</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#booking_new">Create a New Booking</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#my_profile">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pwd_reset">Reset Password</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-12 col-lg-10">
            <div id="booking_list" class="section-content">
              <h4>My Bookings</h4>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Booking Name</th>
                      <th scope="col" class=".col-width-medium">Remarks</th>
                      <th scope="col">Date</th>
                      <th scope="col">Telephone</th>
                      <th scope="col">Email</th>
                      <th scope="col">Pax</th>
                      <th scope="col">Status</th>
                      <th scope="col">Restaurant Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% bookingsList.forEach((booking, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= booking.BOOKING_NAME %></td>
                      <td class=".col-width-medium"><%= booking.BOOKING_REMARKS %></td>
                      <td><%= booking.BOOKING_DATE %></td>
                      <td><%= booking.BOOKING_TEL %></td>
                      <td><%= booking.BOOKING_EMAIL %></td>
                      <td><%= booking.BOOKING_PAX %></td>
                      <% if (booking.BOOKING_STATUS === "N") { %>
                      <td>NEW</td>
                      <% } else if (booking.BOOKING_STATUS === "X") { %>
                      <td>CANCELLED</td>
                      <% } else if (booking.BOOKING_STATUS === "C") { %>
                      <td>CONFIRMED</td>
                      <% } else { %>
                      <td></td>
                      <% } %>
                      <% if (booking.BOOKING_RESPONSE) { %>
                      <td class="text-center"><%= booking.BOOKING_RESPONSE %></td>
                      <% } else {%>
                      <td><em>
                          No remarks given.
                        </em>
                      </td>
                      <% } %>
                      <!-- <td> -->
                      <% //if (booking.BOOKING_STATUS === "X") { %>
                      <% //} else { %>
                      <!-- <button class="btn btn-danger cancel-booking" data-booking-id="<%= booking.ID_BOOKING %>">Request Cancel</button> -->
                      <% //} %>
                      <!-- </td> -->
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>

            <div id="booking_new" class="section-content">
              <h4 class="mb-4">Create A New Booking</h4>
              <div class="reservation-form-bg">
                <form class="php-email-form" id="userBookForm">
                  <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                      <input type="text" name="name" value="<%= user.NAME %>" class="form-control" id="name" placeholder="Your Name" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="email" class="form-control" value="<%= user.EMAIL %>" name="email" id="email" placeholder="Your Email" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="text" class="form-control" value="<%= user.TEL_NO %>" name="phone" id="phone" placeholder="Your Phone" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="remarks" rows="5" id="remarks" placeholder="Message"></textarea>
                  </div>
                  <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message"></div>
                  </div>
                  <div class="text-center"><button class="book-a-table-login " type="submit">Book a Table</button></div>
                </form>
              </div>

            </div>

            <div id="pwd_reset" class="section-content">
              <h4 class="mb-4">Reset Your Password</h4>
              <form id="resetPasswordProfileForm" method="POST">
                <input type="hidden" class="form-control" id="userName" name="userName" value="<%= user.USERNAME %>" required>
                <div class="col-lg-8">
                  <label class="mb-2" for="name">Current Password</label>
                  <input class="form-control" type="password" id="oldPassword" name="oldPassword" minlength="8" maxlength="50" required>
                </div>
                <div class="col-lg-8">
                  <label class="mb-2" for="name">New Password</label>
                  <input class="form-control" type="password" id="newPassword" name="newPassword" minlength="8" maxlength="50" required>
                </div>
                <div class="col-lg-8">
                  <label class="mb-2" for="name">Confirm New Password</label>
                  <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" minlength="8" maxlength="50" required>
                </div>
                <div class="col-lg-8 mb-3">
                  <p class="font-12px mt-3"><em>Password must be at least 8 characters with combination of alphanumeric and special characters (!, @, #, $, _)</em></p>
                  <p class="font-12px"><em>Example - S4feP@ssW0rd _</em></p>
                </div>
                <button class="book-a-table-login my-4" type="submit">Save New Password</button>
                <div id="reset-spinner" class="spinner-grow spinner-grow-sm text-danger mx-3" style="display: none;" role="status">
                  <span class="sr-only"></span>
                </div>
                <div class="col-8">
                  <span id="logout-spinner" class="spinner-border spinner-border-sm text-success mx-3" style="display: none;" role="status">
                    <span class="sr-only"></span>
                  </span>
                  <span id="resetMessage">
                  </span>
                </div>
              </form>

            </div>
            <div id="my_profile" class="section-content">
              <h4 class="mb-4">View & Update Your Profile</h4>
              <form id="profileForm" method="POST">
                <div class="col-lg-8">
                  <label class="mb-2" for="name">Name</label>
                  <input class="form-control" type="text" id="name" name="name" maxlength="50" value="<%= user.NAME %>" required>
                </div>
                <div class="col-lg-8">
                  <label class="mb-2" for="tel_no">Phone Number</label>
                  <input class="form-control" type="tel" id="tel_no" name="tel_no" maxlength="20" value="<%= user.TEL_NO %>" required>
                </div>
                <div class="col-lg-8">
                  <label class="mb-2" for="email">Email</label>
                  <input class="form-control" type="email" id="email" name="email" maxlength="30" value="<%= user.EMAIL %>" required>
                </div>
                <button class="book-a-table-login my-4" type="submit">Save</button>
                <div id="profile-spinner" class="spinner-grow spinner-grow-sm text-danger mx-3" role="status" style="display:none;">
                  <span class="sr-only"></span>
                </div>
                <p id="registerMessage"></p>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>Lot 1023 Mukim Kandang, Jalan Bukit Lintang, </p>
            <p>75460 Ayer Molek, Melaka</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>017-324 4866</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Monday-Sunday:</strong> <span>6PM - 2AM</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a> -->
            <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/seripadi_decabin/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script>
    const userId = '<%= user.ID_USER %>';

    document.addEventListener('DOMContentLoaded', function() {
      // Get all the navigation links
      const navLinks = document.querySelectorAll('.nav-link');

      //initialize values if found to have session


      // Get all the section contents
      const sectionContents = document.querySelectorAll('.section-content');

      // Function to show only the selected section and hide others
      function showSection(sectionId) {
        sectionContents.forEach(content => {
          if (content.id === sectionId) {
            content.style.display = 'block';
          } else {
            content.style.display = 'none';
          }
        });
      }

      // Add click event listeners to each navigation link
      navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior

          // Get the href attribute to determine which section to show
          const sectionId = this.getAttribute('href').substring(1); // Remove the #

          // Show the corresponding section
          showSection(sectionId);
        });
      });

      // Initially show the first section (optional)
      showSection('booking_list');

      const cancelButtons = document.querySelectorAll('.cancel-booking');

      if (cancelButtons) {
        cancelButtons.forEach(button => {
          button.addEventListener('click', async function() {
            if (confirm('Confirm to cancel this booking?')) {
              const bookingId = this.getAttribute('data-booking-id');

              try {
                const response = await fetch(`/bookings/${bookingId}`, {
                  method: 'PUT', // Use PUT method for updating
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    BOOKING_STATUS: 'X'
                  }) // Update status to ''
                });

                if (response.ok) {
                  alert('Booking canceled successfully!');
                  window.location.reload(); // Reload the page after cancellation (optional)
                } else {
                  alert('Failed to cancel booking.');
                }
              } catch (error) {
                console.error('Error canceling booking:', error);
                alert('Failed to cancel booking.');
              }
            }
          });
        });
      }
    });
  </script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/js/formActions.js" type="module"></script>
  <script src="/js/bookings_page.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>